#!/sbin/openrc-run

command="/usr/local/67-ui/67-ui"
pidfile="/run/67-ui.pid"
description="67-Ui Service"
procname="67-ui"
depend() {
    need net
}
start_pre(){
    cd /usr/local/67-ui
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}